<!DOCTYPE html>
        <html>
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
            <title></title>

            <link href="lib/ionic/css/ionic.css" rel="stylesheet">
            <link href="css/style.css" rel="stylesheet">

            <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
            <link href="css/ionic.app.css" rel="stylesheet">
            -->

            <!-- ionic/angularjs js -->
            <script src="lib/ionic/js/ionic.bundle.js"></script>
            <script src="lib/ionic/js/angular/angular-animate.js"></script>

            <!-- cordova script (this will be a 404 during development) -->
            <script src="cordova.js"></script>

            <!-- your app's js -->
            <script src="js/app.js"></script>
          </head>
          <body ng-app="starter">

            <ion-pane>
              <ion-header-bar class="bar-assertive">
                <h1 class="title">Calculo de Equacao</h1>
              </ion-header-bar>
              <ion-content ng-controller='MyCtrl'>
                   
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="A" ng-model="a">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="B" ng-model="b">
  </label>
 <label class="item item-input">
    <input type="text" placeholder="C" ng-model="c">
  </label>
</div>
                      
                    
                <div class="card">
                <div class="item item-text-wrap">
                <p> O delta é {{delta(a, b, c)}}</p>
                <p> As raízes são {{r1()}} e {{r2()}}</p>
                    </div>
                </div>
        
              </ion-content>
            </ion-pane>
              
              <ion-footer-bar align-title="left" class="bar-assertive">
              <h1 class="title">Jhoe!</h1>
            </ion-footer-bar>
          </body>
        </html>
